<div data-role="header" data-theme="b" class="ui-header ui-bar-b" role="banner">
  <h1>Editing Post</h1>
  <%= link_to 'Delete', @post, :method => :delete, "data-icon" => "delete", "class" => "ui-btn-right" %>
</div>
 
<div data-role="content" class="rounded-content">
  <%= render 'form' %>
</div>
