<div data-role="header" data-theme="b" class="ui-header ui-bar-b" role="banner">
  <h1>Listing posts</h1>
  <%= link_to 'Add', new_post_path, "data-transition" => "slide", "data-direction" => "reverse","data-icon" => "plus", "class" => "ui-btn-right" %>
</div>

 
<div data-role="content">
  <ul data-role="listview" data-divider-theme="b" data-inset="true">
    <li data-role="list-divider" role="heading">Lista de Posts</li>

    <% @posts.each do |post| %>
    <li data-theme="">
      <%= link_to post.title, post, "data-transition" => "slide" %>
      <%= link_to 'edit post', edit_post_path(post), "data-icon" => "gear" %>
    </li>
    <% end %>
  </ul>
</div>
