<div data-role="header" data-theme="b" class="ui-header ui-bar-b" role="banner">
  <h1><%= @post.title %></h1>
  <%= link_to 'Home', posts_url, "data-icon" => "home", "class" => "ui-btn-right" %>
</div>
 
<div data-role="content" class="rounded-content">
  <%= @post.body %>
</div>
