// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input.ui-input-text, textarea.ui-input-text {
	width: 99%;
}

.ui-page {
	background: url(/assets/background.png) repeat 0 0;
}

.ui-content.rounded-content {
	background: #fff;
	margin: 30px 20px 15px 20px;
	-moz-border-radius: 0.6em 0.6em 0.6em 0.6em;
	-webkit-border-radius: 0.6em;
	border-radius: 0.6em;
}